@import '../../app/_mixins';
.games-list {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 80% 18%;
	column-gap: 2%;
	min-height: 50vh;
	/* *** responsive design for small screen *** */
	@include respond(small) {
		display: flex;
		flex-direction: column-reverse;
	}
	/* *** responsive design special breakpoint *** */
	@media (min-width: 320px) and (max-width: 550px) {
		margin-top: 20px;
	}
	&__data {
		/* *** responsive design for small screen *** */
		@include respond(small) {
			margin-top: 50px;
		}

		&__content {
			height: 100%;
		}
	}
}
