@import '../../app/_mixins';

.category-filter-section {
	&__filter-section {
		&__content {
			/* *** responsive design for small screen *** */
			@include respond(small) {
				display: flex !important;
				overflow-x: scroll !important;
				scrollbar-color: rgb(104, 172, 3) transparent !important;
				scrollbar-width: thin !important;
				padding: 0;
				&::-webkit-scrollbar {
					width: 5px;
					height: 5px !important;
				}

				&::-webkit-scrollbar-track {
					background-color: white;
				}

				&::-webkit-scrollbar-thumb {
					background-color: rgb(219, 213, 213);
				}
			}
			&__filter-element {
				/* *** responsive design for small screen *** */
				@include respond(small) {
					@include fontSize(18px !important);
					margin: 20px 10px !important;
					color: white !important;
					background-color: rgb(219, 213, 213) !important;
					// background-color: rgb(104, 172, 3) !important;
					padding: 5px !important;
				}
				/* *** responsive design special breakpoint *** */

				@media (min-width: 320px) and (max-width: 550px) {
					@include fontSize(10px );
				}
			}
			&__filter-element:first-child {
				/* *** responsive design for small screen *** */
				@include respond(small) {
					margin-left: 0 !important;
				}
			}
		}
	}
}
.ui.items > .item {
	/* *** responsive design for small screen *** */
	@include respond(small) {
		min-width: 100px !important;
		border-radius: 5px !important;
	}
}

.ui.items > .item > .content {
	/* *** responsive design for small screen *** */
	@include respond(small) {
		@include fontSize(18px);
		color: rgb(104, 172, 3) !important;
	}
	/* *** responsive design special breakpoint *** */

	@media (min-width: 320px) and (max-width: 550px) {
		@include fontSize(10px);
	}
}
